:root {
    --container-padding: 20px;
}

body {
    font-family: 'Geologica', Arial, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    color: black;
}

h1, h2, h3 {
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--container-padding) var(--container-padding) 0;
    box-sizing: border-box;
}

.product-grid {
    display: grid;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 133%;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cart-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    overflow-x: hidden;
}

.cart-animate-container {
    position: relative;
    z-index: 50;
    width: 100%;
    background: white;
}

.cart-item {
    min-width: 280px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    gap: 15px;
}

.cart-item .image-wrapper {
    width: 100px;
    padding-bottom: 133px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.small-grey-text {
    font-size: 14px;
    color: #2F4F4F;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-button, .add-to-cart-button {
    padding: 10px;
    margin-bottom: var(--container-padding);
    background-color: #000000;
    color: white;
}

.submit-button:hover, .add-to-cart-button:hover {
    background-color: #333333;
}

.add-to-cart-button {
    background-color: #666666;
}

.icon-container {
    position: relative;
    width: 32px;
    height: 32px;
}

.small-icon-container {
    width: 24px;
    height: 24px;
}

.black-link {
    color: black;
    text-decoration: none;
}

.carousel .slide {
    padding: 0 32px;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.hidden.arrow {
    display: none;
}

.cart-info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.cart-info-container p {
    margin: 0;
}

fieldset {
    border: none;
    padding: 5px 0;
    margin: 25px 0 15px;
}

legend {
    padding: 0;
}

.carousel-root {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 24px;
    width: auto;
}

.cart-badge {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
        gap: 15px;
    }

    :root {
        --container-padding: 10px;
    }

    .cart-item .image-wrapper {
        width: 90px;
        padding-bottom: 120px;
    }
}

@media (max-width: 459px) {
    h1 {
        font-size: 24px;
        margin: 5px 0;
    }

    h2 {
        font-size: 18px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 10px;
    }

    .product-name {
        font-size: 14px;
    }

    .icon-container {
        width: 24px;
        height: 24px;
    }

    .cart-badge {
        font-size: 10px;
        width: 14px;
        height: 14px;
        bottom: -3px;
        right: -3px;
    }

    .logo {
        height: 18px;
    }

    .cart-item .image-wrapper {
        width: 60px;
        padding-bottom: 80px;
    }

    .carousel .slide {
        padding: 0 24px;
    }
}
